.modal-container {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    height: 70%;
    width: 40%;
    min-width: fit-content;
    background-color: whitesmoke;
    margin: 5% auto;
    padding: 20px;
    display: flex;
    border-radius: 20px;
}

.form {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.elements {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indi {
    flex: 1 1 auto;
}

input {
    flex-grow: 2;
}

#submit {
    background-color: springgreen;
    color: black;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}