.modal-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modal {
    border: 1px solid black;
    margin: 10% auto;
    background-color: whitesmoke;
    width: 60%;
    overflow: auto;
    padding: 5px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.modal>h2 {
    width: auto;
    margin: 2px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.modal-details-container {
    display: flex;
    padding: 2px;
    flex-direction: row;
    height: 90%;
    overflow: auto;
}

.modal-nav-bar {
    flex: 1 1 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.modal-description {
    flex: 4 1 0;
    padding: 2px;
}

.nav {
    padding: 5px;
    margin: 0px;
    text-align: left;
}

.modal-nav-bar :hover {
    border: 1px solid black;
}