.task {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.task-header {
    margin: 0px;
    padding: 2px;
    font-size: small;
    text-align: left;
    flex: 1 1 0;
}

.task-main {
    margin: 0px;
    padding: 5px;
    font-size: larger;
    text-align: left;
    flex: 1 1 0;
}

.task-footer {
    margin: 0px;
    padding: 2px;
    font-size: small;
    text-align: left;
    flex: 1 1 0;
}

.delete-button {
    padding: 6px;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    float: right;
}

.task-main:hover,
.task-header:hover,
.task-footer:hover {
    box-shadow: none;
}