.task {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.task-header {
    margin: 0px;
    padding: 2px;
    font-size: small;
    text-align: left;
    flex: 1 1 0;
}

.task-main {
    margin: 0px;
    padding: 5px;
    font-size: larger;
    text-align: left;
    flex: 1 1 0;
}

.task-footer {
    margin: 0px;
    padding: 2px;
    font-size: small;
    text-align: left;
    flex: 1 1 0;
}

.delete-button {
    padding: 2px;
    border-radius: 10px;
    color: white;
    background-color: red;
    float: right;
}
.task-main:hover,
.task-header:hover,
.task-footer:hover{
  box-shadow: none;
}
