body {
  margin: 0;
  font-family: "OPEN SANS", "Playfair display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.task-incomplete {
  border: 1px solid goldenrod;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.task-complete {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: burlywood;
}

.border {
  border: 1px solid black;
}
/* 
* {
  border: 1px solid black;
} */

@import "./../node_modules/bulma/css/bulma.min.css";
